<header class="header">
  <div class="header__wrap">
    <div class="container">
      <app-header></app-header>
    </div>
  </div>
</header>

<main class="main">
  <div class="container">
    <div class="main__wrap">
      <app-main></app-main>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <app-footer></app-footer>
    </div>
  </div>
</footer>


<div class="side-bar">
  <div class="side-bar__body">
    <div class="side-bar__menu menu-side-bar">
      <ul class="menu-side-bar__list">
        <div href="#" class="menu-side-bar__item">
          <span class="material-icons">settings</span>
          <a href="#" class="menu-side-bar__link">settings</a>
        </div>
        <div href="#" class="menu-side-bar__item">
          <span class="material-icons">restore</span>
          <a href="#" class="menu-side-bar__link">history</a>
        </div>
        <div href="#" class="menu-side-bar__item">
          <span class="material-icons"> equalizer</span>
          <a href="#" class="menu-side-bar__link">statistic</a>
        </div>
      </ul>
    </div>
  </div>
</div>


