<div class="change-password">
  <div class="change-password__title">Password</div>
  <form action="" class="change-password__form" [formGroup]="formPassword">
    <div class="change-password__input">
      <span>New password:</span>
      <div class="shown">
        <input type="password" class="shown__input" placeholder=" " formControlName="password"> 
        <div class="shown__label">password</div>
      </div>
    </div>
    <div class="change-password__input">
      <span>Confirm new password:</span>
      <div class="shown">
        <input type="password" class="shown__input" placeholder=" " formControlName="confPassword"> 
        <div class="shown__label">password</div>
      </div>
    </div>
    <div class="change-password__error" *ngIf="submitedForm" >
      <div class="change-password__field-error" *ngIf="errorFormFromNotMatch" [@inOutAnimation]>Password do not match</div>
      <div class="change-password__field-error" *ngIf="errorFormFromPattern" [@inOutAnimation]>
        <p>Password must containt at least 1 uppercase and lowercase letter</p>
        <p> Password must containt at least 1 numeric character</p>
      </div>
      <div class="change-password__field-error" *ngIf="errorFormFromPatternSpecialSymbol" [@inOutAnimation]>Password not must contain special symbol *?@</div>
    </div>
    <div class="change-password__button">
      <button class="btn" [disabled]="formPassword.invalid" (click)="savePassword()"><span>Save</span></button>
    </div>
  </form>
</div>