@import "../../../assets/cssStyle/mixin.scss";
@import "../../../assets/cssStyle/var.scss";

.change-password {

  &__title{
    margin: 20px 0px 10px 0px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }

  &__form {
  }

  &__input {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px  0px;
    &:last-child{
      margin:0px;
    }
    span{
      align-self: center;
      font-size: 18px;
      font-weight: 700;
      margin: 0px 50px 0px 0px;
    }
  }
  &__button{
    margin: 10px 0px 0px 0px;
    text-align: center;
  }
  &__error{
    margin: 10px 0px 0px 0px;
  }

  &__field-error{
    color: #ff0000;
    font-size: 16px;
  }
}
