
<div class="pop-up">

  <div class="pop-up__close" (click)="closePopUp()" ></div>

  <form class="pop-up-form" [formGroup]="formUpdate">
    <div class="pop-up-form__title">
      Write correct income
    </div>
    <div class="pop-up-form__amount">
      <div class="shown">
        <input type="text" placeholder=" " class="shown__input" formControlName="income">
        <div class="shown__label">Write income</div>
      </div>
      <div [@inOutAnimation] *ngIf="f.income.errors && f.income.touched">
        <div class="error error-length" *ngIf="f.income.errors?.required">Required</div>
        <div class="error error-pattern" *ngIf="f.income.errors?.pattern">Only number (0-9)</div>
      </div>
    </div>

    <div class="pop-up-form__button">
      <button class="btn btn-w" [disabled]="formUpdate.invalid || !formUpdate.dirty" (click)="updateIncome()" >
        <span>Send</span>
      </button>
    </div>

  </form>

</div>
  