@import "../../../assets/cssStyle/mixin.scss";
@import "../../../assets/cssStyle/var.scss";

.check-password {
  &__title {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 0px 0px 30px 0px;
  }

  &__input {
    margin: 0px 0px 30px 0px;
    .shown {
      &__input {
        border-bottom: 2px solid #62d18f;
        &:focus:not(&-error) {
          border-bottom: 2px solid #17da66;
        }
      }
    }
  }
  &__button{
    text-align: center;
  }
}