<div class="check-password">
  <div class="check-password__title">
    {{data?.text}}
  </div>
  <form (ngSubmit)="sendPassowrd()">
  <div class="check-password__input">
    <div class="shown">
      <input type="password" class="shown__input" placeholder=" " [formControl]="password">
      <div class="shown__label">Your password</div>
      <div class="shown__label-error" *ngIf="password.invalid && password.touched" [@inOutAnimation]>Required</div>
    </div>
  </div>
  <div class="check-password__button">
    <button class='btn' [disabled]="password.invalid || password.pristine"><span>Send</span></button>
  </div>
</form>
</div>